.Footer {
  @at-root {
    & {
      background-color: rgba(c(main), 0.05);
    }
    
    .Footer__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      padding: 0.5rem 1rem;
      max-width: 768px;
    }
    
    .Footer__credit {
      font-size: 0.75rem;
      line-height: 1.2;
    }
    
    .Footer__license {
      font-size: 0.75rem;
      line-height: 1.2;
    }
  }
}
