.Input {
  @at-root {
    & {
    }

    .Input__heading {
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.6;
    }
    
    .Input__textarea {
      margin-top: 0.5rem;
      padding: 0.5rem;
      border: 1px solid rgba(c(base), 0.25);
      border-radius: 0.125rem;
      width: 100%;
      max-width: calc(768px - 2rem);
      height: 2.3125rem;
      min-height: 2.3125rem;
      font-size: inherit;
      line-height: 1.25;
      box-shadow: inset 2px 2px 4px 0 rgba(c(base), 0.125);
    }

    .Input__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }
}
