.Main {
  @at-root {
    .Main__inner {
      margin-right: auto;
      margin-left: auto;
      padding-right: 1rem;
      padding-left: 1rem;
      max-width: 768px;
    }

    .Main__copy {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.3;
    }

    .Main__description {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}
