.Output {
  @at-root {
    & {
      margin-top: 1.5rem;
    }
    
    .Output__heading {
      margin-bottom: 0.5rem;
      border-radius: 0.125rem;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.6;
    }
    
    .Output__panel {
      padding: 0.5rem;
      border-radius: 0.125rem;
      background-color: rgba(c(main), 0.05);
      font-size: 1.25rem;
    }
    
    .Output__note {
      margin-top: 1rem;
    }
  }
}
