doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Slotarr - 好きな単語をスロット！揃ったらラッキー！
    meta(content='width=device-width', name='viewport')
    link(rel='stylesheet', href='style/index.scss')
    script(defer, async, src='https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.7/what-input.min.js')
    script(src='script/index.ts')

  body
    header.Header(role='banner')
      .Header__inner
        h1.Header__title
          span.VisuallyHidden Slotarr
          svg.Header__logo#logo(role='img', viewbox='0 0 150 40', width='150', height='40', aria-labelledby="logoTitle")
            title#logoTitle Slotarrのロゴ
            path(d='M9.06,3.32c2.81,0,4.49,0.17,5.17,0.61c0.27,0.17,0.32,0.48,0.32,0.74c0,0.43-0.18,0.91-1.13,0.78\
            c-1.41-0.17-2.85-0.26-4.62-0.26c-4.99,0-5.98,2.61-5.98,4.82c0,2.13,1.27,4.39,5.57,7.56c4.94,3.56,6.8,5.47,6.8,9.21\
            c0,4.74-3.49,6.95-9.47,6.95c-1.9,0-4.26-0.17-5.21-0.52C0.14,33.08,0,32.82,0,32.47c0-0.52,0.32-0.96,0.91-0.91\
            c2.09,0.22,3.17,0.3,4.94,0.3c4.26,0,7.25-1.35,7.25-4.95c0-2.65-1-4.04-5.44-7.39c-5.08-3.82-7.12-6.21-7.12-9.6\
            C0.54,5.45,3.85,3.32,9.06,3.32z M23.2,2.58c0-0.96,0.27-1.22,1-1.22c0.82,0,1.09,0.26,1.09,1.22v25.98c0,2.39,0.41,3.35,2.67,3.35\
            h1.18c0.91,0,1.09,0.17,1.09,0.61c0,0.43-0.05,0.69-0.63,0.83c-0.41,0.09-1.27,0.13-2.31,0.13c-3.99,0-4.08-2.61-4.08-6.08V2.58z\
            M44.86,9.62c7.16,0,9.29,3.04,9.29,11.56c0,10.47-2.76,12.56-9.34,12.56c-5.98,0-9.38-2.09-9.38-11.43\
            C35.44,12.44,37.79,9.62,44.86,9.62z M44.91,11.31c-6.16,0-7.25,1.74-7.25,10.25c0,9.21,1.86,10.43,7.25,10.43\
            c5.35,0,7.07-1.22,7.07-10.43C51.98,12.87,50.26,11.31,44.91,11.31z M65.3,28.38c0,2.39,0.41,3.52,2.67,3.52h1.18\
            c0.91,0,1.09,0.17,1.09,0.61c0,0.48-0.23,0.69-0.5,0.78c-0.5,0.17-1.09,0.17-2.13,0.17c-4.44,0-4.4-2.61-4.4-6.08V12.53\
            c0-0.43-0.09-0.74-0.45-0.74h-2.99c-1,0-1.18-0.13-1.18-0.91c0-0.65,0.18-0.83,1.18-0.83h2.95c0.41,0,0.5-0.22,0.5-0.65V3.66\
            c0-0.96,0.27-1.22,1-1.22c0.82,0,1.09,0.26,1.09,1.22V9.4c0,0.43,0.09,0.65,0.5,0.65h3.08c1,0,1.18,0.17,1.18,0.83\
            c0,0.78-0.18,0.91-1.18,0.91H65.8c-0.41,0-0.5,0.17-0.5,0.69V28.38z M81.98,1.75c-1.5,0-1.72,0.48-1.72,2.31v32.62\
            c0,1.27,0.23,1.57,1.72,1.57h3.67c0.68,0,0.86,0.22,0.86,0.83c0,0.74-0.18,0.92-0.86,0.92h-4.26c-2.49,0-3.22-0.96-3.22-2.88V2.88\
            C78.17,1.09,78.9,0,81.39,0h4.26c0.68,0,0.86,0.22,0.86,0.83c0,0.74-0.18,0.92-0.86,0.92H81.98z M101.42,20.09\
            c1.54-0.13,1.59-0.22,1.59-3.08c0-3.82-0.77-5.69-5.8-5.69c-1.77,0-3.94,0.22-5.67,0.61c-0.54,0.13-0.82-0.39-0.82-0.78\
            c0-0.48,0.14-0.65,0.45-0.78c1.36-0.43,3.76-0.74,5.8-0.74c6.75,0,7.98,2.09,7.98,7.99v13.34c0,2.39-0.73,2.78-6.62,2.78\
            c-6.93,0-9.43-1.56-9.43-6.47c0-4.82,1.5-6.3,8.29-6.86L101.42,20.09z M103.01,24.13c0-1.82-0.14-2.22-2.04-2.22h-2.54\
            c-5.35,0-7.48,0.65-7.48,5.34c0,3.87,2.09,4.87,7.39,4.87c4.58,0,4.67-0.17,4.67-2.95V24.13z M112.84,12.31\
            c0-1.35,0.32-1.69,1.13-1.91c2.27-0.61,4.76-0.78,6.84-0.78c2.04,0,2.27,0.22,2.27,1c0,0.56-0.27,0.78-0.68,0.78\
            c-0.68,0-1.13-0.09-2.18-0.09c-1.31,0-3.72,0.13-4.58,0.57c-0.63,0.35-0.72,0.65-0.72,1.87v18.51c0,0.96-0.27,1.22-1,1.22\
            c-0.82,0-1.09-0.26-1.09-1.22V12.31z M128.52,12.31c0-1.35,0.32-1.69,1.13-1.91c2.27-0.61,4.76-0.78,6.84-0.78\
            c2.04,0,2.27,0.22,2.27,1c0,0.56-0.27,0.78-0.68,0.78c-0.68,0-1.13-0.09-2.18-0.09c-1.31,0-3.72,0.13-4.58,0.57\
            c-0.63,0.35-0.72,0.65-0.72,1.87v18.51c0,0.96-0.27,1.22-1,1.22c-0.82,0-1.09-0.26-1.09-1.22V12.31z M146.19,38.25\
            c1.5,0,1.72-0.48,1.72-2.31V3.32c0-1.27-0.23-1.57-1.72-1.57h-3.67c-0.68,0-0.86-0.22-0.86-0.83c0-0.74,0.18-0.92,0.86-0.92h4.26\
            c2.49,0,3.22,0.96,3.22,2.88v34.24c0,1.79-0.73,2.88-3.22,2.88h-4.26c-0.68,0-0.86-0.22-0.86-0.83c0-0.74,0.18-0.92,0.86-0.92\
            H146.19z')



    main.Main(role='main')
      article.Main__inner
        header.Main__section
          h2.Main__copy 好きな単語をスロット！
          p.Main__description ランチが決まらない……そんな時はSlotarrにお任せ。
          p.Main__description カンマ区切り（半角スペースも可）で項目を入力して「ガチャる」ボタンをタップ！
          p.Main__description 揃ったお店で美味しく食べましょう。選択肢はいくつでもOKです！

        .Border

        section.Main__section
          .Input
            h3.Input__heading 単語を入力（カンマか半角スペースで区切ってください）
            textarea.Input__textarea#input 中本,和食,イタリアン

            //- label.Amount
              input.Amount__checkbox#amount(type='checkbox', name="amount")
              span.Amount__text 項目の数と同じスロット数にする（デフォルトは3つ）

            .Separator
              p.Separator__label 区切り
              label.Separator__label
                input.Separator__radio(type='radio', name="separater", value="0", checked)
                span.Separator__text カンマ
              label.Separator__label
                input.Separator__radio(type='radio', name="separater", value="1")
                span.Separator__text 半角スペース

            .Input__action
              button.Input__button#execute(type='button') ガチャる
              button.Input__button.-juuRen#juuRen(type='button') 10連でガチャる

        .Border

        section.Main__section
          .Output
            h3.Output__heading スロット結果
            .Output__panel#output 中本＿中本＿中本
            p.Output__note 意外と揃わないので、#[sup 2]/#[sub 3]で同じのが出たらラッキーくらいに思うようにすると良いです。揃わなくてもテーブルを叩かないこと。

    footer.Footer(role='contentinfo')
      address.Footer__inner
        p.Footer__credit このウェブアプリは#[a(href='https://twitter.com/otiext', target='_blank', rel='noopener') 越智]が作りました。
        p.Footer__license #[a(href='https://github.com/oti/slotarr') GitHub], MIT license.
